{% extends 'base.html' %}

{% block content %}

<form class="form" action="/atividades/{{atividade.id}}" method = "POST">
    
    <h1>Editar Atividade</h1>
    
    <label for="nome">Nome da Atividade:</label>
    <input name="name" id="name" placeholder="Nome Atividade" type="text" value="{{atividade.nome}}" required autofocus>
    
    <label for="instrutor" >Instrutor:</label>
    <select id="instrutor" name="instrutor">
        {% for instrutor in instrutores %}
            <option value="{{ instrutor.id }}"{% if atividade.instrutor == instrutor.id %} selected="selected"{% endif %}>{{ instrutor.nome }} {{ instrutor.sobrenome }}</option>
        {% endfor %}
    </select>
    
    <label for="data" >Data:</label>
    <input name="data" id="data" placeholder="Data:" type="date" value="{{atividade.data.strftime('%Y-%m-%d')}}" required>
    
    <label for="duracao" >Duração:</label>
    <input name="duracao" id="duracao" placeholder="Duracao" type="text" value="{{atividade.duracao}}" required>
    
    <label for="capacidade" >Capacidade:</label>
    <input name="capacidade" id="capacidade" placeholder="Capacidade" type="text" value="{{atividade.capacidade}}" required>
    
    <label for="tipo_plano">Tipo de Plano:</label>
    <select id="tipo_plano" name="tipo_plano">
        {% for tipo_plano in tipos_planos %}
            <option value="{{ tipo_plano.id }}" {% if atividade.tipo_plano == tipo_plano.id %} selected="selected"{% endif %}>{{ tipo_plano.plano }}</option>
        {% endfor %}
    </select>
    
    <label for="ativo">Ativo:</label>
    <select name="ativo" id="ativo">
        <option value="True">Sim</option>
        <option value="False">Não</option>
    </select>

    <button type="submit">Atualizar Atividade</button>

</form>

{% endblock content %}