{% extends 'base.html' %}

{% block content %}

<div class="flexcards">
  <div class="add-card">
    <a href="/atividades/novo"></a>
  </div>
  {% for atividade in atividades %}
  <div class="card">
    <img id="logo" src="{{url_for('static', filename='images/logo.png')}}" alt="logo">
    <h4 id="nome"><b>{{atividade.nome}}</b></h4>
    <h5>{{atividade.data.strftime("%d/%m/%Y")}}</h5>
    <h5>{{atividade.data.strftime("%X")}}</h5>
    <h6>{{atividade.tipo_plano.plano}}</h6>
    <hr>
    <p>
      <a class="card-btn" href="/atividades/{{atividade.id}}">Detalhes</a>
    </p>
    <hr>
    <p>
      <a class="card-btn" href="/agendamentos/novo/{{atividade.id}}">Fazer Agendamento</a>
    </p>
    <hr>
    <p>
      <a class="card-btn" href="/atividades/{{atividade.id}}/editar">Editar</a>
    </p>
    <hr>
    <p>
      <a class="card-btn" href="/atividades/{{atividade.id}}/delete">Remover</a>
    </p>
    <hr>
  </div>
  {% endfor %}
</div>

{% endblock content %}